<div style="width: 30%; padding: 4rem">
  <div class="card card--primary">
    <!-- __ means the element inside another element -->
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, corporis!
    </div>
  </div>
</div>

<div style="width: 30%; padding: 4rem">
  <div class="card card--secondary">
    <!-- __ means the element inside another element -->
    <header class="card__header">Card Title</header>
    <div class="card__body">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam, corporis!
    </div>
  </div>
</div>
