<div class="collapsible collapsible--expanded">
  <!-- 当用户点击下拉图标时，利用JavaScript 动态添加class collapsible--expanded -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite2.svg#chevron"></use>
      <!-- chevron 显示不出来，这里用sprite2文件代替sprite -->
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, suscipit?
    </p>
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <!-- 当用户点击下拉图标时，利用JavaScript 动态添加class collapsible--expanded -->
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>

    <svg class="icon icon--white collapsible__chevron">
      <use xlink:href="images/sprite2.svg#chevron"></use>
      <!-- chevron 显示不出来，这里用sprite2文件代替sprite -->
    </svg>
  </header>
  <div class="collapsible__content">
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Saepe, suscipit?
    </p>
  </div>
</div>
<script src="js/main.js"></script>
<!-- 把js文件放在body最后，是因为，不想让js文件的加载阻塞页面的渲染过程 -->
