<!-- .media>.media__image+.media__body -->
<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <!-- h3.media__title{Easy Start & Manage Updates} -->
    <h3 class="media__title">Easy Start & Manage Updates</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque repellendus
      ex rerum, eius quos magnam dignissimos delectus nisi. Similique, quis.
    </p>
  </div>
</div>
